{% extends "layout/_template.njk" %}
{%- if page_title -%} {%- set page_title_value = page_title + ' - Static Website Template' -%} {%- else -%} {%- set page_title_value = 'Static Website Template' -%} {%- endif -%}
{% set pageConfig = {
    "meta": {
        "canonicalUrl": "/",
        "description": "/",
    },

    "title": page_title_value,
    "header": {
        "title": 'Static Website Template',
        "orgLogoHref": 'https://www.ons.gov.uk',
        "titleLogoHref": "/",
        "mastheadLogo": "/",
        "titleLogo": "/",
        "navigation": navigation.navigation,
    },
    "pageColNumber": "12",
    "sidebarColNumber": sidebarCols if sidebarCols else 12,
    "mainClasses": "ons-u-mt-m",
    "breadcrumbs": breadcrumbs,
    "navigation": navigation.navigation,
    "footer": {
      "OGLLink": true,
      "legal": [
        {
          "itemsList": [
            {
              "text": 'Cookies',
              "url": url_for('cookies_page')
            },
            {
              "text": 'Accessibility Statement',
              "url": url_for('accessibility_page')
            },
            {
              "text": 'Privacy and Data Protection',
              "url": url_for('privacy_data_page')
            }
          ]
        }
      ]
    },
  }
 %}

    {% block preHeader %}
        {% from "components/cookies-banner/_macro.njk" import onsCookiesBanner %}
        {{
            onsCookiesBanner({
                'serviceName': 'StaticWebsiteTemplate.ons.gov.uk'
            })
        }}
    {% endblock %}
<script type="text/javascript"
  src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
  {%- block main -%}
  {%- endblock main -%}